$OFF-WHITE: #FCF6F1;
$LIGHT_BEIGE: #F1EAE4;
$BEIGE: #EBE4DE;
$DARK_GREEN: #393D32;
$RED: #904E30;
$YELLOW: #D3B979;

:export {
    OFF_WHITE: $OFF-WHITE;
    LIGHT_BEIGE: $LIGHT_BEIGE;
    BEIGE: $BEIGE;
    DARK_GREEN: $DARK_GREEN;
    RED: $RED;
    YELLOW: $YELLOW;
}
